<a href="https://colab.research.google.com/github/felipe39/Projeto-analise-dados/blob/main/Notebooks/01_introducao_analise_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Projeto 01 — Introdução à Análise de Dados
# Autor: Felipe
# Objetivo: praticar operações básicas com dados em Python

import pandas as pd

# Criando um pequeno conjunto de dados fictício
dados = {
    'Produto': ['A', 'B', 'C', 'D'],
    'Vendas': [120, 90, 150, 80],
    'Preço': [10, 15, 8, 12]
}

df = pd.DataFrame(dados)

df

  Produto  Vendas  Preço
0       A     120     10
1       B      90     15
2       C     150      8
3       D      80     12